**/work
.nextflow.log*
.nextflow
*.nextflow.log.1*
**/results
**/conda
.nextflow.log.1
Input
**/gff_reference
*ploid_groups.tsv
N0_short_dup.tsv
.codegpt
*test*
*unique*
scripts/gff.db
**/output_*
**/output
promoter_df.csv
.nextflow.pid
extended_annotations.agat.log
runMain.sh
.nextflow.pid
runMain.sh
params/atlantic_with_liftoff.json
params/atlantic.json
params/wheatAK58.json
params/atlantic.json
params/atlantic_with_liftoff.json
.nextflow.pid
